<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#registerModal">Đăng ký</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Đăng nhập</button>
<button type="button" class="btn btn-secondary" ng-click="$pageHeaderCtrl.logout()">Đăng xuất</button>
<button type="button" class="btn btn-secondary" ng-click="$pageHeaderCtrl.test()">Test session</button>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form ng-submit="$pageHeaderCtrl.submitRegister()">
                    <fieldset ng-disabled="$pageHeaderCtrl.isRegistering">
                        <div class="container">
                            <h2>Form Registration</h2>

                            <div class="form-group">
                                <label for="usr">Họ và tên:</label>
                                <input type="text" class="form-control" id="usr" name="userEmployer" ng-model="$pageHeaderCtrl.register.username" required>
                            </div>
                            <div class="form-group">
                                <label for="email">email</label>
                                <input type="email" class="form-control" id="email" name="email" ng-model="$pageHeaderCtrl.register.email" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Registration</button>
                            </div>

                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="showMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>{{$pageHeaderCtrl.message}}</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form ng-submit="$pageHeaderCtrl.submitLogin()">
                    <fieldset ng-disabled="$pageHeaderCtrl.isLoggingIn">
                        <div class="container">
                            <h2>Form Login</h2>
                            <div class="form-group">
                                <label for="usr">Email:</label>
                                <input type="email" class="form-control" id="email" ng-model="$pageHeaderCtrl.login.email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" ng-model="$pageHeaderCtrl.login.password" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Login</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</div>